@model IEnumerable<RekvalifikaceApp.ViewModels.EvaluationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hodnocení</h1>

<p>
    @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admini") || User.IsInRole("Učitelé")))
    {
        <a asp-action="Create">Nové hodnocení</a>
    }
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
            @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admini") || User.IsInRole("Učitelé")))
            {
                <th class="text-center d-none d-md-table-cell">Úprava</th>
                <th class="text-center d-none d-md-table-cell">Smazání</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (item.IsCompleted)
                    {
                                            <svg class="bi text-success" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M5.93 13.93l-4-4a.5.5 0 0 1 .707-.707L6 12.293l9.646-9.647a.5.5 0 0 1 .708.708l-10 10a.5.5 0 0 1-.707 0z"/>
                                            </svg>
                    }
                </td>
                <td class="d-none d-md-table-cell">
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                @if (User.Identity.IsAuthenticated && (User.IsInRole("SuperAdmin") || User.IsInRole("Admini") || User.IsInRole("Učitelé")))
                {
                    <td class="text-center align-middle">
                        <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-route-id="@item.Id">
                            <svg bootstrap-icon="Pencil" class="bi" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M12.646 1.646a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.708-.708l10-10a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M3 10.5v2h2l7-7-2-2-7 7z"/>
                            </svg>
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Opravdu chcete smazat tohoto uživatele?');">
                        @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-sm btn-danger">
                                <svg bootstrap-icon="Trash" class="bi" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M5.5 5.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-1 0v-6zm2-2a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0v-6zm4-2a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0v-6a.5.5 0 0 1 .5-.5zm-8-1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0v-6a.5.5 0 0 1 .5-.5zm9.414-.293A.5.5 0 0 1 13 3.5v9a.5.5 0 0 1-1 0v-9a.5.5 0 0 1 .086-.293l1-1z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
